{{#partial "content"}}
{{#if username }}
        <h1>Welcome, {{ username }}!</h1>

    <p>View <a href="/ideas">all ideas</a></p>
    {{ else }}
        <h1>Welcome Friend</h1>

        <form action="/sign-in" method="post">
            <input type="text" placeholder="What is your username?" name="username">
            <button>Sign in</button>
        </form>
    {{/if}}
{{/partial}}

{{> base.hbs}}